@{
    Layout = null;
}
@model Blog.Models.RecentCommentsModel
<div class="posts-wrap color">
    <h3>Последние комментарии</h3>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <p class="date">@item.Date.ToString("D")<span>@item.Date.ToString(" HH:mm")</span></p>
                <h2><p> @Html.ActionLink(@item.Text, "ComLink", "Home", new { titel = @item.CommentID }, null)</p></h2>
                @if (@HttpContext.Current.User.Identity.Name == "Admin")
                {
                    <form action="@Url.Action("DelComment", "Home", new { id = @item.CommentID })" method="post">
                        <div id="comment_form">
                            <input type="submit" name="Submit" value=" Удалить " class="submit_btn" />
                        </div>
                    </form>
                }
            </li>
        }
    </ul>
</div>