@using Blog.Models
@model ArticleModel
<div class="wrap-article">
    @if (Model.Post != null)
    {
        <h2>@Model.Post.Title</h2>
        <p class="date"><span>@Model.Post.DateCreated.Date.ToString("D")</span><span>@Model.Post.DateCreated.ToString("HH:mm")</span></p>
        <div class="text-block">
            <p>@Model.Post.Body</p>
        </div>
    }
</div>
<div class="wrap-comments">
    <h2>Коментарии</h2>
    <ul class="list-comment">
        @if (Model.Comments != null)
        {
            for (int i = 0; Model.Comments.Count > i; i++)
            {
                <li>
                    <div class="avatar"><img src="~/Content/images/avatar-comment.png" alt="" /></div>
                    <div class="comment-text">
                        <a href="#">Гость</a>
                        <p class="date"><span>@Model.Comments[i].DateCreated.Date.ToString("D")</span><span>@Model.Comments[i].DateCreated.ToString("HH:mm")</span></p>
                        <p>@Model.Comments[i].Body</p>
                    </div>
                    @if (@HttpContext.Current.User.Identity.Name == "Admin")
                    {
                        <form action="@Url.Action("DelComment", "Home", new { id = @Model.Comments[i].CommentID })" method="post">
                            <div id="comment_form">
                                <input type="submit" name="Submit" value=" Удалить " class="submit_btn" />
                            </div>
                        </form>
                    }
                </li>
            }
        }
    </ul>
    @Html.Partial("AddComments", new AddCommentModel() { title = Model.Post.Title })

</div>