
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="~/Content/css/reset.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>

<body>
    <div class="wrap">
        <div class="left-column">
            <div class="wrap-avatar">
                <img src="~/Content/images/avatar.png" alt="" />
                <h2>Мистер Хороший Человек</h2>
            </div>
            <div class="menu">
                <ul>
                    @if (@HttpContext.Current.User.Identity.Name == "Admin")
                    {
                        <li>@Html.ActionLink("Добавить статью", "AddPost", "Home")</li>
                        <li>@Html.ActionLink("Удалить статью", "Recent", "Article")</li>
                        <li>@Html.ActionLink("Читать другие статьи", "Recent", "Article", new { i = 1 }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Войти", "Enter", "Home")</li>
                        <li>@Html.ActionLink("Читать другие статьи", "Recent", "Article", new { i = 1 }, null)</li>
                    }

                </ul>
            </div>
            @Html.Action("Recent", "Article")
            @Html.Action("Recent", "Comment")
        </div>
        <div class="right-column">
            @RenderBody()
        </div>
    </div>
</body>
</html>